/* General Style */
body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: 100% 10%;
    background-repeat: no-repeat;
    font-family: "Nunito", sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/media/background.jpg");
}

/* White Background */
.background {
    width: 40%;
    height: 100%;
    background-color: white;
    border-top: 5px solid #6A74C9;
}

/* Master Form */
.master-form {
    top: 15%;
    padding: 0 20px;
    position: relative;
}

/* Master Form Paragraphs */
.master-form p:first-child {
    font-weight: 700;
    font-size: 1.5rem;
    color: #6A74C9 !important;
}

.master-form p {
    color: #6C6C6C;
    padding: 0 50px;
    font-size: 14px;
    font-weight: 700;
}

.master-form p a {
    color: #6C6C6C;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
}

/* Form Inputs */
form {
    padding: 10px 50px;
}

/* Input Styles */
#username, #password, #password-conf, #email, #code {
    width: 96%;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 25px 20px;
    position: relative;
    border-radius: 0px;
    border: 2px solid #ADADAD;
    color: #252525 !important;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1) !important;
}

#code {
    letter-spacing: 4px;
    text-transform: uppercase;
}

#username::placeholder, #password::placeholder, #password-conf::placeholder, #email::placeholder, #code::placeholder {
    color: #ADADAD;
    font-weight: 700;
    text-transform: none;
    letter-spacing: normal;
}

#username:focus, #password:focus, #password-conf:focus, #email:focus, #code:focus {
    border-color: #6A74C9;
    box-shadow: inset 0 1px 1px #6A74C9, 0 0 5px #565eac;
}

form-control::placeholder {
    opacity: 0 !important;
}

.submit-button {
    width: 40%;
    border: none;
    font-weight: 700;
    font-size: 0.7rem;
    padding: 15px 20px;
    position: relative;
    border-radius: 0px;
    color: white !important;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    background-color: #6A74C9 !important;
    box-shadow: 0 0.5rem 1rem rgba(68, 75, 137, 0.5) !important;
}

.submit-button:hover {
    box-shadow: 0 0.5rem 1rem rgba(68, 75, 137, 0.7) !important;
}

.invalid-feedback {
    padding: 0px 90px;
}

/* Account Active - Style */
h4 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #6A74C9 !important;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

/* Others */
.copyright {
    bottom: 0;
    width: 40%;
    position: absolute;
}

.copyright p {
    color: #ADADAD;
    font-weight: 600;
    font-size: 0.7rem;
    text-transform: uppercase;
}

/* Error Style */
#error {
    color: #e3342f;
    font-size: 10pt;
    padding: 0 50px;
    display: inherit;
    margin-top: 20px;
    margin-bottom: 10px;
}

#collapse {
    width: 96%;
}

#collapse-card {
    border: none;
    padding: 10px 0px;
    border-radius: 0px !important;
}

#collapse-p {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
    color: #6C6C6C !important;
}

#label-code {
    z-index: 2;
    padding: 20px;
    font-weight: 600;
    font-size: 0.8rem;
    margin-bottom: 0px;
    position: absolute;
    pointer-events: none;
    color: #252525 !important;
}

#code-input {
    width: 110%;
    right: 17px;
    border: none;
    bottom: 22.5px;
    font-weight: 600;
    font-size: 0.8rem;
    position: relative;
    padding: 15.5px 61px;
    color: #252525 !important;
    background-color: transparent;
}

.modal-dialog {
    max-width: 700px !important;
}

.modal-content {
    border: none !important;
    border-radius: 0px !important;
    border-top: 5px solid #6A74C9 !important;
}

.modal-header, .modal-footer {
    border: 0px !important;
}

#submit-button-modal {
    width: 30%;
    border: none;
    font-weight: 700;
    font-size: 0.7rem;
    padding: 14px 15px;
    position: relative;
    border-radius: 0px;
    color: white !important;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
    background-color: #6A74C9 !important;
}
