/* Navigation Cards (DASHBOARD) */
.card-navigation:hover {
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .2);
}

/* Report Navigation Style */
.report {
    margin-top: 30px;
}

.report button {
    color: #A9A9A9;
    font-weight: 800;
    padding: 8px 18px;
    font-size: 0.6rem;
    border-radius: 25px;
    border: 2px solid #A9A9A9;
    text-transform: uppercase;
    background-color: #EAEAEA;
}

.report .graphic-group {
    margin-top: 40px;
}

.report .graphic-group .graphic {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 230px;
    border-radius: 11px;
    background-color: white;
    box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .10);
}
